
<div class="card" data-commentid="<%= comment.id %>" data-authorid="<%= comment.author.id  %>">
    <div class="card-body">
      <div class = "row">

      <div class = "col-sm-2">
        <%= image_tag(comment.author.avatar, size: "100x100", class: "rounded-circle") %>
      </div>

      <div class = "col-sm-8">
        <div class = "font-weight-bold">
          <%= get_author(comment) %><br>
         <% if logged_in? %>
          <% if comment.status.include?("unpublished") %>
            <%= form_tag(post_comment_path(post_id: comment.post_id, id: comment.id), method: :patch) do |form| %>
              <%= submit_tag 'Published', class: 'btn btn-success', name: "published" %>
            <% end %>
          <% end %>
         <% else%>
         <% end %>
        </div>
        <br>
        <div>
          <%= comment.body %>
          <div class = 'poster'>
            Last updated <%= distance_of_time_in_words(comment.updated_at.to_i, Time.now)%>
          </div>
          <hr>

          <button class="<%= vote_button_class('dislike', comment) %>" data-value="downvote" >
            <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
            <span class = "dislike-vote">
              <%= votes_count('downvote', comment) %>
            </span>
          </button>

          <button class="<%= vote_button_class('like', comment) %>" data-value="upvote" >
            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
            <span class = "like-vote">
              <%= votes_count('upvote', comment) %>
            </span>
          </button>
          <% if comment.path.count <= 4 %>
          <button class = "message" data-newcommentid="<%= comment.id %>">
            <i class = "glyphicon glyphicon-comment text-primary"></i>
          </button>
          <%else%>
          <% end %>
        </div>
        <div>
          <% if comment.created_at != comment.updated_at %>
          <div><span class="glyphicon glyphicon-pencil"></span>Edited</div>
          <%end%>
        </div>
      </div>
      <% if logged_in? && comment.created_at >= (Time.now - 1.hour)%>
          <%= link_to 'Delete', '#', data: { url: post_comment_path(post_id: comment.post_id, id: comment.id) }, class: "btn btn-danger check-button delete-comment-button"%> 

          <%= link_to 'Edit', edit_post_comment_path(post_id: comment.post_id, id: comment.id), 
                              method: :get, class: "btn btn-warning check-button" %>
      <% end %>
    </div>
  </div>
</div>
