<div class="container">
<h1 class = "text-center">Update your comment</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for([@post, @comment], method: :put) do |form| %>
      <%= render 'shared/error_messages'%> 
     <div class="form-group">
      <%= form.label :comment %>
      <%= form.text_area(:body,  cols: 10, rows: 10, class: 'form-control')%>
     </div>
     <input type='hidden' name='comment[status]' value='published'>

      <%= form.submit "Save changes", class: "btn btn-primary" %>
    <% end %>
    <%= link_to "Back to post", post_path(@post) %>
  </div>
</div>
</div>