<div class = "container">
  <div class="row">
  	  <div class = "col-sm-12">
  	  <div class = "card change-card">
  	  	<div class="card-body change-body-card">
  	  	  <div class = "col-sm-6 text-center">

  	  	  	<%= image_tag(@author.avatar, size: "300x300", class: "rounded-circle") %>
           <%= form_with model: @author, local: true do |form| %>
            <%= form.file_field :avatar, direct_upload: true, id: 'userAvatar' %>
           <% end %>
          </div>

          <div class = "col-sm-6">
          	<div class = "form-changes">
          	 <h1>
          	  <%= @author.first_name%>
          	  <%= @author.last_name%>
             </h1>
             <hr>
             <div>
       
             		<h4><i>Email: </i><%= @author.email %></h4><br>
             		<hr>
             		<h4><i>Gender: </i><%= @author.gender %></h4><br>
             		<hr>
             		<h4><i>Birthday: </i><%= @author.birthday.strftime('%d %b %Y') %></h4><br>
             </div>
            </div>
          </div>
        </div>
      </div>
     </div>

  </div>
</div>
<script type="text/javascript">
	$(document).on('change', '#userAvatar', function () {
		var form = $(this).parents('form');
		$('.spinner-wrapper').show();
		form.submit();
	})
</script>