<%= render 'posts/search' %>
<div class = "container page-container">
  <hr>
 <div class = "row">
<%if @posts.empty?%>
    <div class = "">
    <h3 class = "text-warning">There are no more posts to show right now.</h3>
    </div>
<%else%>
   <% @posts.each do |post|%>
   <div class="col-sm-6">
     <div class="card">
       <div class="card-body body-change-card">
        <div class = "row">
        <% if post.image.attached? %>
          <%= image_tag post.image, class: 'card-img-top', size: "100x400" %>
        <% end %>
        </div>
        <h2 class='post-title'>
          <%= truncate("#{post.title}", length: 65) %>
        </h2>
        <div class = "poster">
            Posted by <%=get_author(post)%>
          </div>
        <div class = "col-sm-12">
        <p class='post-content'>
          <%= truncate("#{post.content}", length: 200) %>
          <%= link_to 'Read more', post_path(post), data: { turbolinks: false }%>
        </p>
      </div>
       </div>
      </div>
    </div>
<%end%>
<%end%>

</div>
</div>

