<div class = "container">
  <h1 class = "text-center">Create new post</h1>
  <div class = "row">
    <div class = "col-md-6 col-md-offset-3">
      <%= form_for(@post) do |form| %>
        <%= render 'shared/error_post_messages'%>
        <div class = "form-group">
          <%= form.label :title %>
          <%= form.text_field :title, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.label :content %>
          <%= form.text_area(:content,  cols: 10, rows: 10, class: 'form-control') %>
        </div>
        <div class="form-group">
          <%= form.label :image%>
          <%= form.file_field(:image, direct_upload: true, class: "text-center", size: "500x400") %>
        </div>
        <%= form.submit "Create post", class: "btn btn-primary" %>
      <%end%>
      <%= link_to "Back to posts", posts_path %>
    </div>
  </div>
</div>

