<div class = "container post-show">
  <div class = "col-md-8 col-md-offset-2">
	  <h2 class = 'post-title'>
      <br>
      <br>
	    <%= @post.title%>
      <hr>
	  </h2>
	  <div class = 'poster'>
	    Posted by <span class = "text-primary"><%=get_author(@post)%></span>
	  </div>
    <hr>
    <div class = 'poster'>
      Last updated <%= distance_of_time_in_words(@post.updated_at.to_i, Time.now)%>
    </div>
    <hr>
    <br>
	  <p class='post-content'>
      <%= @post.content %>
    </p>
    <hr>
    <%= image_tag @post.image, class: 'img-responsive' %>
    <hr>

  
   <div class = "row">
    <div class = "col-sm-10">
    <p class='post-button'>
      <% if logged_in?&& get_owner_post?(@post)%>
      <%= link_to 'Edit ', edit_post_path(@post), class: "btn btn-primary"%>
      <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-primary" %>
      <% else %>

      <% end %>
      <%= link_to "Back to posts", posts_path, class: "btn btn-primary", data: { turbolinks: false } %>
    </p>
    </div>
    <div class = "col-sm-2 text-secondary">
      <span class="glyphicon glyphicon-eye-open"></span> <%= @post.impressionist_count%>
    </div>
   </div>
   <% if logged_in? %>
      <%= render 'comments/form' %>
   <%else%>
    <div class = "alert alert-warning">
      <p>
        Info! Only logged in user can send comments!
      </p>
    </div>
   <%end%>

   <div class= "container">
    <%= render 'comments/comment' %>
   </div>
  </div>
</div>
