


<div class = "container post-show data-postid=<%= @post.id %>" >
  <div class = "col-md-8 col-md-offset-2">
	  <h2 class = 'post-title'>
      <br>
      <br>
	    <%= @post.title%>
      <hr>
	  </h2>
	  <div class = 'poster'>
      <%= image_tag(@post.author.avatar, size: "50x50", class: "rounded-circle") %>
	    Posted by <span class = "text-primary"><%=get_author(@post)%></span> | Last updated <%= distance_of_time_in_words(@post.updated_at.to_i, Time.now)%>
	  </div>
    <hr>
    <br>
	  <p class='post-content'>
      <%= @post.content %>
    </p>
    <hr>
    <%= image_tag(@post.image, size: "700x500")%>
    <hr>

  
   <div class = "row">
    <div class = "col-sm-8">
    <p class='post-button'>
      <% if logged_in?&& get_owner_post?(@post)%>
      <%= link_to 'Edit ', edit_post_path(@post), class: "btn btn-primary"%>
      <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-primary" %>
      <% else %>

      <% end %>
      <%= link_to "Back to posts", posts_path, class: "btn btn-primary", data: { turbolinks: false } %>
    </p>
    </div>
    <div class = "col-sm-4 text-secondary">
      <div class = "card">
        <div class = "card-body text-center">
            <i class="glyphicon glyphicon-comment"></i>  <%= @post.comments.published.count%> 
            <i class="glyphicon glyphicon-eye-open"></i>  <%= @post.impressionist_count%> 
            <i class="fa fa-thumbs-o-up"></i>  <%= @post.author_comment_votes.upvote.count%> 
            <i class="fa fa-thumbs-o-down"></i>  <%= @post.author_comment_votes.downvote.count%> 
        </div>
      </div>
    </div>
   </div>
   <% if logged_in? %>
      <%= render 'comments/form' %>
   <%else%>
    <div class = "alert alert-warning">
      <p>
        Info! Only logged in user can send comments!
      </p>
    </div>
   <%end%>
   <div class= "container">
    <div class='comments-list'>
      <%= render 'comments/comments' %>
    </div>
   </div>
  </div>
</div>
<div class='modal' id='successComment'>
  <div class="alert alert-success">
     Your comment has been saved
  </div>
</div>
